@font-face {
    font-family: 'Zona Pro';
    src: url('../fonts/ZonaPro-Regular.eot');
    src: local('Zona Pro Regular'), local('ZonaPro-Regular'),
        url('../fonts/ZonaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZonaPro-Regular.woff2') format('woff2'),
        url('../fonts/ZonaPro-Regular.woff') format('woff'),
        url('../fonts/ZonaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

